$app-container-padding: 10px;
#app-container {
    @include dx-border;
    display: flex;
    flex-direction: column;
    padding: $app-container-padding;
    position: relative;
}
.level-alert {
    position: absolute;
    width: minus-padding(100%, $app-container-padding);
    height: minus-padding(100%, $app-container-padding);
    z-index: $zindex-level-alert;
    pointer-events: none; //Prevent intercepting events

    $color: $server-capture-color;
    $grey: #666;
    $stop-1: 25%;
    background:
            linear-gradient(to bottom,
                    $color, $grey $stop-1, transparent 50%,
                    $grey #{100% - $stop-1}, $color);
    @include animation-opacity-fadein(0.4);
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}
.app-view-buttons {
    display: flex;
    justify-content: center;

    > .dx-button {
        text-align: center;
        width: 100px;
        padding: 10px 20px;
        margin: 0 8px;
    }
}
.app-status-bar {
    padding: 20px - $app-container-padding;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not([data-floating]) {
        .hack-device, .app-status-bar-right {
            visibility: hidden;
        }
    }

    &[data-floating] {
        position: absolute;
        z-index: $zindex-status-bar;
        width: minus-padding(100%, $app-container-padding);
        background-color: rgba(black, 0.5);

        @include media($ipad-port) {
        }
    }

    .hack-device {
        color: white;
        text-transform: uppercase;

        .hack-device-title {
            margin-bottom: 8px;

            @include media($ipad-port) {
                display: none;
            }
        }

        .dx-box {
            padding: 8px 15px;
        }
    }
    .app-status-bar-right {
        display: flex;

        @include media($ipad-port) {
            align-items: center;
        }

        > div {

            @include media($ipad-port) {
                width: 100%;
            }
        }
    }

    .trace-status {
        text-transform: uppercase;
        margin-right: 16px;

        @include media($ipad-port) {
            padding: 12px;
            font-size: 14px;
        }

        .trace-status-title-box {
            margin-right: 8px;

            @include media($ipad-port) {
                display: none;
            }

            .trace-status-title {
                color: white;
            }
            .trace-status-subtitle {
                color: $dx-text-light;
                text-align: right;
            }
        }
        .trace-status-timer {
            font-size: 32px;
            width: 2em; //Must always have a set width to prevent bouncing
            text-align: right;

            @include media($ipad-port) {
                font-size: 24px;
            }
        }

        .progress-bar {
            margin-top: 4px;
            padding: 0 8px;

            li {
                &[data-filled] {
                    background-color: $dx-border-light;
                }
            }
        }
        &[data-critical] {
            .progress-bar {
                li {
                    &[data-filled] {
                        background-color: $server-capture-bg;
                    }
                }
            }
        }
    }

    .player-item-bar {
        display: flex;
        align-items: center;

        .player-item {
            display: flex;
            font-size: 30px;

            @include media($ipad-port) {
                font-size: 20px;
            }

            &:first-child {
                margin-right: 32px;

                @include media($ipad-port) {
                    margin-right: 8px;
                }
            }

            i {
                margin-right: 12px;

                @include media($ipad-port) {
                    margin-right: 4px;
                }
            }
        }
    }
}
.level-modal-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba($bg-default, 0.7);
    z-index: $zindex-level-modal-bg;

    .level-modal {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .level-modal-body {
            @extend .dx-box;
            background-color: $bg-default;
            margin-bottom: 8px;

            p {
                padding: 16px 32px;
            }
        }

        .level-modal-title {
            @extend .dx-box, .dx-box-fill;
            width: 100%;
            font-size: 24px;
            text-transform: uppercase;
        }
    }
}
