$app-container-padding: 20px;
#app-container {
    @include dx-border;
    padding: 20px;
    flex-grow: 1;
    position: relative;
}
.app-view-buttons {
    display: flex;
    justify-content: center;

    > .dx-button {
        text-align: center;
        width: 100px;
        padding: 10px 20px;
        margin: 0 8px;
    }

    .app-status-bar {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        padding: $app-container-padding;
        width: 100%;
        height: 100%;

        .hack-device {
            color: white;
            text-transform: uppercase;

            .dx-box {
                margin-top: 8px;
                padding: 8px 15px;
                background-color: $dx-bg-light;
            }
        }
        .player-item-bar {
            display: flex;

            .player-item {
                font-size: 24px;

                &:first-child {
                    margin-right: 16px;
                }
            }
        }
    }
}
.level-modal-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba($bg-default, 0.7);
    z-index: $zindex-level-modal-bg;

    .level-modal {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .level-modal-body {
            @extend .dx-box;
            background-color: $bg-default;
            margin-bottom: 8px;

            p {
                padding: 16px 32px;
            }
        }

        .level-modal-title {
            @extend .dx-box;
            background-color: $dx-bg-light;
            width: 100%;
            font-size: 24px;
            text-transform: uppercase;
        }
    }
}
