* {
    box-sizing: border-box;
}
html {
    font-family: $font-family;
}
html, body {
    margin: 0;
    height: 100%;
}
#root, #app-container {
    min-height: 100%;
}
#root {
    display: flex;
    flex-direction: column;
    padding: 16px;
}
#root, #app-container {
    background-color: black;
}
#app-container {
    @include dx-border;
    padding: 20px;
    flex-grow: 1;
}
.app-view-buttons {
    display: flex;
    justify-content: center;

    > .dx-button {
        text-align: center;
        width: 100px;
        padding: 10px 20px;
        margin: 0 8px;
    }
}