.level-container {
    //position: relative;
}
.level-grid-container {
    position: relative;
}
.level-grid {
    position: relative;
}
.level-node-grid {
    @include flex-center;
    padding: 50px;
}
.level-node {
    width: 80px;
    height: 100px;
    position: relative;

    &[data-disabled] {
        opacity: 0.3;
    }

    div.level-node-img {
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .level-node-level-text {
        color: white;
        position: absolute;
        z-index: $zindex-node-level-text;
        top: 50%;
        right: 8px;
        transform: translateY(-50%);
        font-size: 18px;
    }

    .level-node-mask {
        $capturing-opacity: 0.2;
        $captured-opacity: 0.5;
        mask-position: center;
        mask-repeat: no-repeat;
        position: absolute;
        z-index: $zindex-node-mask;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &:before {
            position: absolute;
            bottom: 0;
            left: 0;
            content: '';
            display: block;
            width: 100%;
            height: 0;

            animation-name: $animation-capture;
            animation-timing-function: linear;
            animation-play-state: paused;
            animation-iteration-count: infinite; //Required since default is 1
            animation-duration: inherit; //Set on parent
        }

        &[data-capturing] {
            &:before {
                animation-play-state: running;
            }
        }
        &[data-capturing='user'] {
            &:before {
                background-color: rgba($capture-color, $capturing-opacity);
            }
        }
        &[data-capturing='server'] {
            &:before {
                background-color: rgba($server-capture-color, $capturing-opacity);
            }
        }
        &[data-fortifying] {
            &:before {
                animation-play-state: running;
                background-color: rgba($fortify-color, $capturing-opacity);
            }
        }
        &[data-captured] {
            &:before {
                height: 100%;
                background-color: rgba($capture-color, $captured-opacity);
            }
        }
    }
}
.node-menu {
    position: absolute;
    z-index: $zindex-node-menu;

    $menu-item-width: 65px;
    $menu-item-height: 50px;

    .node-menu-items {
        @include custom-hex(35%);
        box-sizing: content-box;
        margin: 0;
        padding: 16px;

        background-color: $dx-bg-dark;
        opacity: 0.9;

        > div {
            &:first-child, &:last-child {
                display: flex;
                justify-content: center;
            }

            &:nth-child(2) {
                display: flex;
                justify-content: space-between;
                margin: -20px 0;
                width: $menu-item-width * 2.5;
            }
        }
    }

    .node-menu-item {
        @include custom-hex(35%);
        @include flex-center;
        width: $menu-item-width;
        height: $menu-item-height;
        background-color: darken($dx-menu-item-highlight, 30%);

        i {
            color: $dx-menu-item-highlight;
            font-size: 30px;
        }

        &[data-disabled] {
            background-color: transparent;
            i {
                color: $dx-menu-icon-disabled;
            }
        }

        &:hover:not([data-disabled]) {
            background-color: $dx-menu-item-highlight;

            i {
                color: $dx-menu-icon-hover;
            }
        }
    }

    .node-menu-tooltip {
        position: absolute;
        background-color: $bg-default;
        color: white;
        z-index: $zindex-node-menu-tooltip;

        $vertical: ("top", "bottom");
        $horizontal: ("left", "right");
        $placements: join($vertical, $horizontal);
        $transform-amount: (-100%, 100%);

        @each $pos in $placements {
            &[data-placement=#{$pos}] {
                #{$pos}: 0;

                $index: index($vertical, $pos);
                @if ($index) {
                    transform: translateX(-50%) translateY(nth($transform-amount, $index));
                    left: 50%;
                } @else {
                    $index: index($horizontal, $pos);
                    transform: translateY(-50%) translateX(nth($transform-amount, $index));
                    top: 50%;
                }
            }
        }

        > div {
            text-transform: uppercase;
            white-space: nowrap;
        }
    }
}
.level-connector-container {
    position: absolute;
    top: 0;
    left: 0;
}
.level-connector {
    $border-width: 2px;
    position: absolute;
    width: 8px;
    border-width: 0;
    border-left-width: $border-width;
    border-right-width: $border-width;
    border-color: white;
    border-style: dashed;

    //Align arrow at center
    display: flex;
    align-items: center;
    justify-content: center;

    &[data-bidi] {
        border-style: solid;
    }

    &[data-disabled] {
        opacity: 0.3;
    }

    .level-connector-arrow {
        &:after {
            display: block;
            content: '⮝';
            font-size: 30px;
            color: white;
        }
    }
}
