.level-grid {
    position: relative;
}
.level-node {
    display: flex;
    justify-content: center;
    align-items: center;

    &[data-disabled] {
        opacity: 0.3;
    }

    &[data-captured] {
        border: 1px solid lightskyblue;
    }

    > div {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
.level-connector {
    $border-width: 2px;
    position: absolute;
    width: 8px;
    border-width: 0;
    border-left-width: $border-width;
    border-right-width: $border-width;
    border-color: white;
    border-style: dashed;

    //Align arrow at center
    display: flex;
    align-items: center;
    justify-content: center;

    &[data-bidi] {
        border-style: solid;
    }

    &[data-disabled] {
        opacity: 0.3;
    }

    .level-connector-arrow {
        &:after {
            display: block;
            content: '⮝';
            font-size: 30px;
            color: white;
        }
    }
}
