$font-family: 'Jura', sans-serif;

$bg-default: #0d0d0d;
$dx-text-light: #ff9900;
$dx-bg-light: #c58d22;
$dx-bg-dark: #403010;
$dx-border-light: #eca723;

$dx-menu-item-bg: #3c2a0b;
$dx-menu-item-highlight: #eca623;
$dx-menu-icon-hover: #1d1300;
$dx-menu-icon-disabled: #594b36;

$dx-svg-border-button: var(--dx-svg-border-button);
$dx-svg-border-button-hover: var(--dx-svg-border-button-hover);


$capture-color: #00A1FF;
$server-capture-color: #E03D3C;
$fortify-color: $dx-bg-light;

$zindex-node-mask: 5;
$zindex-node-level-text: 6;
$zindex-node-menu: 10;
$zindex-node-menu-tooltip: 11;
$zindex-level-modal-bg: 100;

@mixin dx-border {
    border: 2px solid $dx-border-light;
    border-radius: 8px;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tri-tl {
    clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.tri-tr {
    clip-path: polygon(0 0, 100% 100%, 100% 0);
}

.tri-bl {
    clip-path: polygon(0 100%, 100% 100%, 0 0);
}
.tri-br {
    clip-path: polygon(0 100%, 100% 100%, 100% 0);
}
.hexagon {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
@mixin custom-hex($top-width: 15%) {
    //Clockwise starting from top right corner [x,y]
    $left-x: 50% - ($top-width / 2);
    $right-x: 50% + ($top-width / 2);
    $side-height: 50%;
    clip-path: polygon(
        $right-x 0, 100% $side-height, $right-x 100%,
        $left-x 100%, 0 $side-height, $left-x 0);
}

$animation-capture: capture;
@keyframes #{$animation-capture} {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}
